<!-- TODO LIST -->
<!-- add intro page that has fun image about learning about animals! maybe make this image on illustrator real quick? -->
<!-- add ability to log data and export that data to a csv --> 
<!-- add a time out component: no response on button page within a minute, time out, log data, and restart --> 
<!-- add randomization component --> 
<!-- add real videos  -->
<!-- add outro thanks for playing page -->
<!-- add better transition for start over button to new game -->

<h1 *ngIf="!grab.year" align="center">Let's learn about animals!</h1>

<h1 *ngIf="!grab.year" align="center">How old are you?</h1>

<div [hidden]="grab.year">
    <age #grab></age>
</div>

<button class=resetButton *ngIf="grab.year" (click)="startOver()">Start a new game!</button>

<!-- first stimuli --> 
<!-- movie -->
<movie (videoEndedEvent)="videoEnded($event)" *ngIf="grab.year && !this.vid"></movie>

<!-- button --> 
<audio (ended)="audioEnded($event)" *ngIf="this.vid && !this.nextvid" autoplay>
    <source src="assets/audio/ch_study1.m4a" type="audio/mp4"/> 
</audio>

<div class=corgiBoxColumn *ngIf="this.vid && !this.nextvid"> 
    <img class=corgiButton *ngIf="this.vid && !this.nextvid" src="assets/image/cheetah 1.jpg" height="100" (click)="saveAndNext()">
    <img class=corgiButton *ngIf="this.vid && !this.nextvid" src="assets/image/cheetah 2.jpg" height="100" (click)="saveAndNext()"/>
    <img class=corgiButton *ngIf="this.vid && !this.nextvid" src="assets/image/cheetah 3.jpg" height="100" (click)="saveAndNext()"/>
    <img class=corgiButton *ngIf="this.vid && !this.nextvid" src="assets/image/cheetah 4.jpg" height="100" (click)="saveAndNext()"/>
    <img class=corgiButton *ngIf="this.vid && !this.nextvid" src="assets/image/cheetah 5.jpg" height="100" (click)="saveAndNext()"/>
</div>

<movie (videoEndedEvent)="videoEnded($event)" *ngIf="this.nextvid && !showCorgi"></movie>

<div class=corgiBox *ngIf="this.nextvid && showCorgi">
    <img class=corgiButton *ngIf="this.nextvid && showCorgi" src="assets/corgis/one.jpg" height="200" (click)="startOver()"/> 
    <img class=corgiButton *ngIf="this.nextvid && showCorgi" src="assets/corgis/two.jpg" height="200" (click)="startOver()"/>
    <img class=corgiButton *ngIf="this.nextvid && showCorgi" src="assets/corgis/three.jpg" height="200" (click)="startOver()"/>
</div>


