<div *ngIf="parameters?.coordinates; then withMap else withoutMap" class="pictureContainer" [class.hasMap]="parameters?.coordinates"></div>

<ng-template #withoutMap>
  <!-- populate image -->
  <img [src]="parameters?.filename" #theimage />
</ng-template>

<ng-template #withMap>
  <!-- populate image -->
  <img [src]="parameters?.filename" usemap="#picturemap" #theimage />
  <!-- populating coordinates -->
  <map name="picturemap">
    <area *ngFor="let c of getCoordinates(); index as i" (click)="sendSimpleResponse(c.response)" shape="rect" [coords]="c.coordinate">
  </map>
  <!-- blocked coordinates? -->
  <!-- <div *ngFor="let c of blockedCoordinates()" [ngStyle]="{'position': 'absolute', 'z-index': '10', 'width':'80px', 'height':'80px', 'left':getCssCoordinates(c.coordinate)[2], 'top':getCssCoordinates(c.coordinate)[3]} "></div> -->
</ng-template>

<!-- populating buttons if buttons required -->
<!-- <app-button (response) = "setValue($event)" [bu -->

<p>
  picture works!
  <br>filename is {{parameters?.filename}}
</p>
