<div *ngIf="parameters?.coordinates; then withMap else withoutMap" class="pictureContainer" [class.hasMap]="parameters?.coordinates"></div>

<ng-template #withoutMap>
  <!-- populate image -->
  <img [src]="parameters?.filename" #theimage />
</ng-template>

<ng-template #withMap>
  <!-- populate image -->
  <img [src]="parameters?.filename" usemap="#picturemap" #theimage />
  <app-map *ngIf="responseEnabled" (selectionEvent)="sendMessage($event)" [params]="parameters"></app-map>
</ng-template>

<!-- populating buttons if buttons required -->
<!-- <app-button (response) = "setValue($event)" [bu -->

