/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@font-face { font-family: SourceSans; src: url('assets/fonts/SourceSansPro-Regular.ttf'); }


/* Type */

	html {
		font-size: 16pt;
		height: 100%;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	body, input, select, textarea {
		color: #000000;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

/* Button */ 

	button {
		font-family : inherit;
		font-size: 25px;
		font-weight: 500;
		width: 25%;
		height: 75px;
		background-color: #ABDFF2;
		border: none;
		border-radius: 15px;
		margin: 4%;
		position: relative;
	}

	button:focus {
		outline: 0;
	}
	
	.button-container {
    	width: 80%;
    	background: #fff;
   		overflow-y: auto;
   		margin: auto;
   	}

	.button-container > a {
    	width: 25%;
    	height: 100px;
    	float: left;
    	background: #fff;   
    	margin: auto;
	}

	.resetButton {
		background: #fff;
		width: 200px;
		font-size: 16px;
		height: 50px;
		position: fixed;
   		bottom: 0;
		right: 0;
		margin: 10px; 
		border: 1px dotted #bbb;  
	}

	.resetButton:hover {
		opacity: .5;
	}

	.corgiBoxRow {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 55%;
	}

	.corgiBoxColumn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column; 
		height: 65%;
		
	}
	
	.corgiButtonRow {
		padding: 10px;
	}

	.corgiButtonColumn {
		padding: 0px;
	}

	.corgiBoxColumnContainer {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	/* Video 
	video {
		height: 65%;
		display: block;
		margin: 0 auto;
	} */