<!-- <div *ngFor="let stim of stimuli"> -->
  <video (ended)="videoEnded()" *ngIf = "!this.showPicture" autoplay="autoplay" preload="auto"  
         [src]="getCurrentVideo()" type='video/mp4'>
  </video>
  <!-- <img [src]="currentImage"> -->
<!-- </div> -->

<img *ngIf = "this.showPicture" [src]="getCurrentImage()" usemap = "#testmap"/>

<audio (ended)="audioEnded()" *ngIf = "this.showPicture" autoplay 
  [src]="getCurrentAudio()" type="audio/mp4">
</audio> 

  <map name = "testmap">
    <area (click)="setAge(4)" shape = "rect" coords="0,0,500,500" title = "Here!">
  </map>
