.videoContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 90vh; 
}

video {
    width: 65%;
    height: auto;
    display: block;
	margin: 0 auto;
}

.imgContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 90vh; 
}

img {
    width: 65%;
    height: auto;
    display: block;
	margin: 0 auto;
}

.attnCheckBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90vh; 
    margin: auto; 
}

.attnCheckButton {
    padding: 10px;
    width: 20%;
}
