<h1 align="center">Let's learn about animals!</h1>

<h1 align="center">How old are you?</h1>

<div class="button-container">
	<button (click)="setAge(4)">4 years old</button>
	<button (click)="setAge(5)">5 years old</button>
	<button (click)="setAge(6)">6 years old</button>
	<button (click)="setAge(7)">7 years old</button>
	<button (click)="setAge(8)">8 years old</button>
	<button (click)="setAge(9)">9 years old</button>
	<button (click)="setAge(10)">10 years old</button>
	<button (click)="setAge(11)">Other age</button>
</div> 
