.currentButton {
    animation: grow 2s;
  }

button:hover {
    animation: grow 2s;
}
  
  @keyframes grow {
    0%, 100% {
      transform: scale(1);
      background-color: rgb(174, 233, 255);
    }
    50% {
      transform: scale(1.2);
      background-color: rgb(167, 255, 214);
    }
  }

h1 {
    font-size: 50pt;
}

    @media screen and (max-width: 1275px) {

        .otherAgeButton {
            font-size: 30pt;
        }

    }

    @media screen and (max-width: 1275px) {

        .otherAgeButton {
            font-size: 30pt;
        }

    }

    @media screen and (max-width: 1000px) {

        .otherAgeButton {
            font-size: 25pt;
        }

    }

    @media screen and (max-width: 850px) {

        .otherAgeButton {
            font-size: 20pt;
        }

    }

    @media screen and (max-width: 700px) {

        .otherAgeButton {
            font-size: 10pt;
        }

    }

